/* Generic Styles */

body {
	background-color: #717598 !important;
	color: white !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}



hr {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	/* White color with 50% opacity */
	margin: 10px 0;
	/* Adjust margin as needed */
}

header {
	margin-bottom: 40px;
}

h1 {
	font-family: snicker, sans-serif !important;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	text-align: center;
}

/* Apple Phone top mimic */

.time-container {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: .75em;
}

.time-container p {
	margin: 0px !important;
}

.clock {
	margin-right: 100px;
}

.phone {
	margin-left: 100px;
}

/* Dropdowns */

i {
	text-align: right;
	font-size: 26px !important;
}

.dropdown-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	width: 393px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.dropdown button {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: #8489B4;
	height: 44px;
	margin-bottom: 4px;
	padding-left: 26px;
	padding-right: 26px;
}

button:focus {
	outline: None;
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: none;
}

.dropdown-button {
	background: none;
	border: none;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
	color: white;
	width: 393px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	font-family: canada-type-gibson, sans-serif !important;
	font-weight: 200;
	font-style: normal;
	font-size: 22px !important;
}

.dropdown-button i {
	font-size: 18px;
}

.dropdown-content {
	display: none;
	width: 100%;
	margin-top: -20px;
}

.row {
	display: flex;
	gap: 0px;
	justify-content: center;
}

input[type=checkbox] {
	margin-right: 13px;
	width: 20px;
	height: 20px;
	accent-color: #4f5571;
}

label {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: white !important;
}

.checkbox-column {
	width: 45%;
	display: flex;
	flex-direction: column;
	gap: 22px;
	padding-top: 11px;
	padding-left: 10px;
}

.checkbox-column h3 {
	font-family: canada-type-gibson, sans-serif !important;
	font-weight: 300;
	font-style: normal;
	font-size: 20px !important;
	text-align: center;
}

.time-column h3 {
	font-family: canada-type-gibson, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	text-align: center;
}

.time-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
	background: #5E6284;
	width: 46%;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-right: 14px;
}


.time-selector {
	display: flex;
	align-items: center;
	gap: 8px;
	text-align: right;
}

.am-button,
.pm-button {
	border: none;
}

.am-button.selected {
	background-color: #E1E4FF;
	color: #2A2E4D;
}

.pm-button.selected {
	background-color: #E1E4FF;
	color: #2A2E4D;
}

.selected {
	background-color: #3498db;
	color: #fff;
}

.flatpickr-time .flatpickr-am-pm {
	display: none;
}


#timePickerModal .modal-title,
#selectedTime::placeholder,
#selectedTime {
	color: white !important;
}


.form-control:disabled,
.form-control[readonly] {
	background: none;
	border: none;
}

.form-control {
	color: white !important;

}

.form-control:focus {
	color: white !important;
}

.form-control:disabled {
	color: white !important;
}

.form-control:not(:focus):not(:disabled) {
	color: white;
}

.form-control::placeholder,
.form-label {
	color: white;
}


.flatpickr-calendar.animate.open {
	width: 100px;
}

.activities {
	display: inline-flex;
	justify-content: right;
	position: relative;
	left: -48px;
}

.detox-activities {
	display: contents !important;
}

.activities-column {
	width: 96% !important;
	padding-left: 20px;
	gap: 9px;
}

.activities-button {
	width: 350px;
}

.activities-column-main {
	width: 80%;
	gap: 8px;
	margin-right: 0px !important;
}

.activities-row {
	justify-content: flex-end !important;
}

.activites-dropdown {
	gap: 16px;
}

.sublist {
	margin-left: 40px;
}

.sub-checkbox:disabled,
.sub-checkbox:disabled+label {
	opacity: 0.4;
}

/* Bottom Toggle */

.toggle {
	position: relative;
	width: 180px;
	height: 36px;
	background-color: #8185AA;
	border-radius: 18px;
	overflow: hidden;
}

.toggle-label {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: transform 0.3s, background-color 0.3s;
	transform: translateX(0);
}

.toggle-circle {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background-color: #8489B4;
	border-radius: 50%;
	transition: transform 0.3s, background-color 0.3s;
	cursor: pointer;
}

.toggle-input:checked+.toggle-label {
	transform: translateX(100%);
	background-color: #4f5571;
}

.toggle-input:checked+.toggle-label+.toggle-circle {
	transform: translateX(143px);
	/* Adjust this value as needed */
	background-color: #5E6284;
}

.on-off-toggle {
	height: 160px;
	display: inline-flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: baseline;
}

.on-off-toggle h4 {
	font-family: canada-type-gibson, sans-serif !important;
	font-weight: 200;
	font-style: normal;
	font-size: 22px !important;
}

/* Apple Footer Mimic */
.apple-footer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.home-button {
	padding: 8px;
	display: flex;
}

.dashboard {
	padding-bottom: 24px;
}

.apple-footer a {
	color: white;
}

/* Dashboard specific Code */
.dashboard {
	background-color: #308197 !important;
}

.dashboard-content h3 {
	font-family: canada-type-gibson, sans-serif !important;
	font-weight: 200;
	font-style: normal;
	font-size: 22px !important;
	padding: 20px;
}

.started-activity {
	background-color: #266C7E;
}
